html {
  font-family: Georgia, serif;
  color: #fff;
}

.gradient {
  background-color: #495562;
}

.btn {
  border-color: #97a49b;
  color: #fff;
}

.btn:hover {
  color: rgba(73, 85, 98, .9);
  border-color: #97a49b;
  background-color: #efefef;
}

img {
  max-height: 500px;
}

@media only screen and (min-width: 60em) {

  .gradient {
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .9));
    background-color: transparent;
    position: absolute;
    top: 14.25em;
  }

}
