html {
  font-family: Georgia, serif;
  color: #fff;
}

.gradient {
  background-color: #495562;
}

.btn {
  border-color: #97a49b;
  color: #fff;
}

.move {
  text-align: left;
}

.btn:hover {
  color: rgba(73, 85, 98, .9);
  border-color: #97a49b;
  background-color: #efefef;
}

img {
  max-height: 500px;
}

@media only screen and (min-width: 60em) {

  .gradient {
    background-image: linear-gradient(to bottom, transparent, rgba(73, 85, 98, .9));
    background-color: transparent;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .btn {
    border-color: #fff;
    color: #fff;
  }

  .move {
    text-align: right;
  }

}
